@media screen and (min-width: 321px){
    #mainContainer, #topPart{
        width: 425px;
    }
    #topPart{
        background-size: 425px;
    }
    .sSpan{
        margin-top: 10px;
        color: white;
        margin-left: 360px;
    }
    .and::before{
        width: 160px;
        top: 62%;
    }
    .and::after{
      width: 160px;
      top: 62%;
    }
    .headContact::before{
        width: 110px;
    }
    .headContact::after{
        width: 110px;
    }
}